<html>
<head>
    <title></title>
</head>
<body>
    <h1>Your Hair Salon</h1>

    <h3>Add a stylist</h3>
    <form action="/create_stylist" method="post">
        <label for="stylist_name">Stylist Name:</label>
        <input id="stylist_name" name="stylist_name" type="text" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>
