<html>
<head>
    <title>Your Hair Salon</title>
</head>
<body>
    <h1>Your Hair Salon</h1>

    <h3>Add a stylist</h3>

    <form action="/stylists" method="post">
        <label for="stylist_name">Stylist Name:</label>
        <input id="stylist_name" name="stylist_name" type="text" required>
        <button type="submit">Add</button>
    </form>

    {% if stylists is not empty %}
        <p> Here are all of your stylists:</p>
        <ul>
        {% for stylist in stylists %}
            <li><a href='/stylist/{{ stylist.getId }}'> {{ stylist.getStylistName }}</li></a>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, there are no stylists to display. Please enter one above.</p>
    {% endif %}

    <form action="/delete_stylists" method="post">
        <button type="submit">Delete All</button>
    </form>

</body>
</html>
